<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.0"/>
  </configSections>
  
  
  <log4net>
    <!--日志的根配置，可以被下级日志继承-->
    <root>
      <level value="Debug" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <!--日志实例名称-->
    <logger name="logger">
      <level value="Debug"/>
    </logger>
    <!--根据时间创建
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
    <file value="${TMP}\log-file.txt" />
    -->
    <!--根据日志大小重写-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value=".\loger\log-file.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      
      
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;"/>
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;"/>
        <param name="ConversionPattern"  value="%d [%t] %-5p %c [%x]  - %m%n"/>
      </layout>
      
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>



    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>



  </log4net>
</configuration>
