*
{
    padding: 0;
    margin: 0;
}
body
{
    font-size: 12px;
    color: #000;
    background: #FFF;
    font-family: Hei, san-serif;
}
a
{
    color: #000;
    text-decoration: none;
}
img
{
    border: 0;
    margin: 0px;
    padding: 0px;
}
.input
{
    border: 1px solid #9a9a9a;
    background: #fafafa;
}

/*-------------我的工作台页2-----------*/

#container
{
    height: auto;
    width: 1020px;
    margin: 0 auto;
}
.top
{
    background: url(../pic/top.jpg) no-repeat;
    height: 81px;
    position: relative;
    border-bottom: 1px solid #cbaf40;
}
.top_1
{
    margin-top: 5px;
    right: 18px;
    position: absolute;
}
.main
{
    width: 1020px;
    height: 659px;
    overflow: hidden;
}
/*------.left样式-----*/
.left
{
    background: url(../pic/left.jpg) no-repeat;
    height: 659px;
    width: 150px;
    float: left;
}
ul#menu, ul#menu ul
{
    margin: 0;
    padding: 0;
    width: 150px;
}

ul#menu a
{
    display: block;
    text-decoration: none;
}

ul#menu li
{
    margin-top: 0px;
    margin-right: 0px;
}

ul#menu li a
{
    font-size: 14px;
    color: #000;
    padding: 0.5em;
}


ul#menu li a:hover
{
    background: #ffe873;
}


ul#menu li ul li a
{
    color: #626262;
    padding-left: 15px;
    font-size: 12px;
}

ul#menu li ul li a:hover
{
    background: #2fa7f3;
    padding-top: 2px;
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
}
ul#menu li .one
{
    background: #ffec89;
    border: 1px solid #cbaf40;
}
ul#menu li .apple
{
    background: #ffec89;
    border-left: 1px solid #cbaf40;
    border-bottom: 1px solid #cbaf40;
    border-right: 1px solid #cbaf40;
    top: 0;
    margin-right: 0;
}
ul#menu li ul li .two
{
    background: #199df1;
    border: 1px solid #6384ba;
    color: #fff;
    margin-top: 8px;
}
.bus
{
    top: 92px;
    margin-left: 20px;
    position: absolute;
}
.buy
{
    top: 278px;
    margin-left: 35px;
    position: absolute;
}
.tope
{
    top: -3px;
    margin-left: 3px;
    position: relative;
}

.right
{
    width: 870px;
    height: 659px;
    float: left;
}
.nav
{
    height: 25px;
    width: 660px;
    top: 10px;
    left: 18px;
    position: relative;
    color: #8b8b8b;
    line-height: 25px;
}
.nav_1
{
    top: 27px;
    left: 35px;
    width: 777px;
    height: 26px;
    position: relative;
    background: url(../pic/right_hi.jpg) no-repeat;
}
.nav_1 p
{
    color: #76650b;
    top: 6px;
    left: 18px;
    position: absolute;
    font-weight: bold;
}
.nav_1 img
{
    float: right;
}
.pro
{
    width: 777px;
    position: relative;
    top: 32px;
    left: 40px;
}
.datalist1
{
    width: 800px;
    border: 0;
}
.datalist1 tr
{
    height: 20px;
}
.datalist1 input
{
    width: 150px;
}
.nav_2
{
    top: 35px;
    left: 35px;
    width: 775px;
    height: 26px;
    position: relative;
    background: url(../pic/right_hi.jpg) no-repeat;
}
.nav_2 p
{
    color: #76650b;
    top: 6px;
    left: 18px;
    position: absolute;
    font-weight: bold;
}
.nav_3
{
    top: 42px;
    left: 35px;
    width: 775px;
    height: 26px;
    position: relative;
    text-align: right;
}
.btn
{
    width: auto;
    height: 25px;
    background: white;
    border: 1px solid #f2dd81;
    margin-left: 2px;
    text-align: center;
}

.pro_1
{
    top: 50px;
    left: 40px;
    width: 777px;
    position: relative;
}

.datalist2
{
    width: 800px;
    border: 1px solid #f2dd81;
    color: #333;
    border-collapse: collapse;
}
.datalist2 tr
{
    height: 25px;
    width: 100%;
}
.datalist2 tr.altrow
{
    background-color: #fef5c7;
}
.datalist2 td a
{
    text-decoration: underline;
    color: #0066ff;
}
.datalist3
{
    width: 800px;
    color: #333;
    border-top-color: none;
    border-collapse: collapse;
}
.datalist3 tr span
{
    color: #7d7d7d;
}


/*-------------入职管理页3-----------*/
.container
{
    height: auto;
    width: 870px;
    margin: 0 auto;
}
.main_3
{
    height: 1188px;
    width: 870px;
    overflow: hidden;
    background: #fffdf1;
}
/*.left_3{ background: url(../pic/left_3.jpg) no-repeat; height:1188px; width:150px; float:left; }
*/.right_3
{
    width: 870px;
    height: 1188px;
    float: left;
}
.title
{
    top: 25px;
    left: 35px;
    width: 790px;
    height: 28px;
    position: relative;
}
.title b
{
    font-size: 14px;
    color: #76650b;
}
.title span
{
    margin-left: 400px;
    color: #575757;
}
.father
{
    top: 20px;
    left: 32px;
    width: 650px;
    height: auto;
    position: relative;
}
.title_1
{
    width: 601px;
    height: 25px;
    left: 0px;
    top: 15px;
    position: relative;
    background: url(../pic/right_hi_31.png) no-repeat;
}
.title_1 b
{
    color: #76650b;
    top: 5px;
    left: 5px;
    position: absolute;
}
.datalist4
{
    top: 15px;
    left: 15px;
    width: 600px;
    border: 0;
    position: relative;
}
.datalist4 tr
{
    height: 28px;
}

.title_2
{
    width: 601px;
    height: 25px;
    left: 0px;
    top: 30px;
    position: relative;
    background: url(../pic/right_hi_31.png) no-repeat;
}
.title_2 b
{
    color: #76650b;
    top: 5px;
    left: 5px;
    position: absolute;
}

.datalist5
{
    top: 35px;
    left: 15px;
    width: 600px;
    border: 0;
    position: relative;
}
.datalist5 tr
{
    height: 28px;
}

.title_3
{
    width: 601px;
    height: 25px;
    left: 0px;
    top: 50px;
    position: relative;
    background: url(../pic/right_hi_31.png) no-repeat;
}
.title_3 b
{
    color: #76650b;
    top: 5px;
    left: 5px;
    position: absolute;
}

.datalist6
{
    top: 55px;
    left: 28px;
    width: 600px;
    border: 0;
    position: relative;
}
.datalist6 tr
{
    height: 28px;
}

.title_4
{
    width: 601px;
    height: 25px;
    left: 0px;
    top: 75px;
    position: relative;
    background: url(../pic/right_hi_31.png) no-repeat;
}
.title_4 b
{
    color: #76650b;
    top: 5px;
    left: 5px;
    position: absolute;
}

.datalist7
{
    top: 90px;
    left: 28px;
    width: 500px;
    border: 0;
    position: relative;
}
.datalist7 tr
{
    height: 28px;
}
.title_5
{
    width: 601px;
    height: 25px;
    left: 0px;
    top: 105px;
    position: relative;
    background: url(../pic/right_hi_31.png) no-repeat;
}
.title_5 b
{
    color: #76650b;
    top: 5px;
    left: 5px;
    position: absolute;
}
.title_6
{
    width: 601px;
    left: 0px;
    top: 125px;
    position: relative;
}
.title_7
{
    width: 300px;
    left: 230px;
    top: 155px;
    position: relative;
}
.son
{
    width: 190px;
    height: 350px;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
}
.son ul
{
    margin-top: 20px;
    margin-left: 50px;
    list-style: none;
}
.son_1
{
    list-style-image: url(../pic/right_an1.jpg);
    font-size: 14px;
    font-weight: bold;
}
.son_2
{
    font-size: 12px;
    margin-left: 6px;
    margin-top: 5px;
}
.son ul a
{
    text-decoration: underline;
    color: #0066ff;
}
.son ul a span
{
    margin-top: -3px;
}


/*-------------我的工作台页4-----------*/
.nav_4
{
    height: 25px;
    width: 600px;
    top: 10px;
    left: 35px;
    position: relative;
    color: #76650d;
    line-height: 25px;
    font-size: 14px;
}
.banner
{
    height: 40px;
    width: 815px;
    top: 18px;
    left: 35px;
    position: relative;
    background: #efefef;
    border-top: 2px solid #fff2ac;
}
.banner ul
{
    list-style: none;
    float: left;
}
#page1
{
    margin-left: 38px;
    width: 618px;
    height: 30px;
    background: url(../pic/title1.png);
    margin-top: 7px;
}
#page2
{
    margin-left: 38px;
    width: 618px;
    height: 30px;
    background: url(../pic/title2.png);
    margin-top: 7px;
}
#page3
{
    margin-left: 38px;
    width: 618px;
    height: 30px;
    background: url(../pic/title3.png);
    margin-top: 7px;
}
#page4
{
    margin-left: 38px;
    width: 618px;
    height: 30px;
    background: url(../pic/title4.png);
    margin-top: 7px;
}
.banner li
{
    float: left;
    display: block;
    margin-top: 4px;
}
.banner li a
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 58px;
}
.banner .a1
{
    margin-left: 30px;
}

.datalist_4
{
    top: 40px;
    left: 45px;
    width: 800px;
    border: 0px;
    position: relative;
}
.datalist_4 td
{
    height: 32px;
}
.datalist_4li
{
    top: 40px;
    left: 45px;
    width: 800px;
    border: 0px;
    position: relative;
}
.datalist_4li td
{
    height: 32px;
}
.datalist_4ol
{
    top: 40px;
    left: 45px;
    width: 800px;
    border: 0px;
    position: relative;
}
.datalist_4ol td
{
    height: 32px;
}
.button
{
    width: 400px;
    left: 300px;
    top: 125px;
    position: relative;
}
.button1
{
    width: 83px;
    height: 25px;
    background: #FFF;
    border: 1px solid #999999;
    margin-left: 8px;
    background: #eeeeec;
}


/*-------------我的工作台页5-----------*/
.nav_5
{
    height: 25px;
    width: 300px;
    top: 35px;
    left: 545px;
    position: relative;
    line-height: 25px;
    color: #FF0000;
}
.button2
{
    width: 63px;
    height: 22px;
    background: #FFF;
    border: 1px solid #999999;
    margin-left: 8px;
    background: #eeeeec;
}
.datalist_5
{
    top: 43px;
    left: 45px;
    width: 800px;
    position: relative;
    border-collapse: collapse;
    border: 1px solid #f2dd81;
}
.datalist_5 tr
{
    height: 28px;
}

.nav_6
{
    height: 25px;
    width: 300px;
    top: 35px;
    left: 680px;
    position: relative;
    color: #FF0000;
}
.nav_7
{
    height: 25px;
    width: 500px;
    top: 50px;
    left: 80px;
    position: relative;
}

.datalist_6
{
    top: 48px;
    left: 45px;
    width: 800px;
    position: relative;
    border-collapse: collapse;
    border: 0;
}
.datalist_6 tr
{
    height: 28px;
}

/*-------------弹出层menu样式-----------*/

#box
{
    height: 332px;
    width: 249px;
    margin: 0 auto;
    background: #fcf8e5;
}
.box_1
{
    height: 35px;
    width: 310px;
    top: 15px;
    left: 25px;
    position: relative;
}
.content
{
    width: 100%;
    height: 324px;
}
.table1
{
    height: 259px;
    width: 195px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    border: 1px solid #e5bb04;
    overflow: hidden;
}
.content ul
{
    list-style: none;
}
.content .lia
{
    height: 22px;
    background: #fef5c7;
    overflow: hidden;
    border-bottom: 1px solid #f1d974;
}
.lib
{
    height: 35px;
    border-bottom: 1px solid #f1d974;
}
.lib_input
{
    height: 23px;
    width: 181px;
    top: 5px;
    left: 6px;
    position: relative;
    border: 1px solid #9a9a9a;
}
/********王凤龙添加公司弹出框选中li样式**BEGIN***********/
.selectli
{
    background: #fef5c7;
}

.input_text
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 157px;
}
.inputbig_text
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 404px;
}
.lib_inputbig
{
    height: 23px;
    width: 429px;
    top: 5px;
    left: 6px;
    position: relative;
    border: 1px solid #9a9a9a;
}
.contentbig
{
    width: 95%;
    height: 471px;
}
.contentbig ul
{
    list-style: none;
}
.contentbig .lia
{
    height: 22px;
    background: #fef5c7;
    overflow: hidden;
    border-bottom: 1px solid #f1d974;
}
/***王凤龙添加公司弹出框选中li样式**END****/
.input_text_img
{
    margin-top: 0px;
    cursor: pointer;
}
.lia span
{
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    top: 12px;
    left: 23px;
}

.lia .spancss
{
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    top: 21px;
    left: 23px;
}
.lia1 span
{
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    top: 328px;
    left: 23px;
}
.lic
{
    height: 22px;
    border: 0;
}
.lic span
{
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
}
.table2
{
    height: 259px;
    width: 195px;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
    border: 1px solid #e5bb04;
}
.an
{
    float: left;
    width: 68px;
    margin-top: 60px;
    margin-left: 5px;
}
.table1_button
{
    width: 65px;
    height: 20px;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 5px;
}
.online
{
    width: 121px;
    height: 35px;
    top: -31px;
    left: 83px;
    position: relative;
    clear: both;
}
.onlinebig
{
    width: 168px;
    height: 22px;
    top: 17px;
    left: 201px;
    position: relative;
    clear: both;
}
.box_btn
{
    width: 65px;
    margin-left: 5px;
    cursor: pointer;
}
/********王凤龙添加弹出框数据承载容器样式**BEGIN***********/
.dataInfo
{
    height: 200px;
    overflow-y: scroll;
    position: inherit;
}
.dataInfo li
{
    margin-top: 2px;
    margin-left: 3px;
}
/***王凤龙添加弹出框数据承载容器样式**END****/

/**********王凤龙* 2011-6-15* 职位职级弹出框样式* Begin******/
.gDiv
{
    height: 476px;
    width: 492px;
    margin: 0 auto;
    background: #fcf8e5;
}
.cDiv
{
    height: 400px;
    width: 439px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #e5bb04;
}
.cDiv ul
{
    list-style: none;
}
.hDiv
{
    position: inherit;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 21px;
    border-bottom: 1px solid #e5bb04;
}
.hDiv table
{
    width: 100%;
}
.hDiv .th1
{
    width: 100px;
    border-right: 1px solid #e5bb04;
}
.hDiv .th2
{
    width: 120px;
    border-right: 1px solid #e5bb04;
}
.dataDiv
{
    height: 319px;
    width: 100%; /*overflow-y: scroll;*/
    margin-top: 0px;
    margin-bottom: 0px;
    position: inherit;
}
.dataDiv .tablecs
{
    width: 100%;
    text-align: center;
    position: inherit;
}
.mentd1
{
    width: 102px;
    border-right: 1px solid #e5bb04;
}
.mentd2
{
    width: 122px;
    border-right: 1px solid #e5bb04;
}
.selectrow
{
    background: #fef5c7;
}
/**********王凤龙* 2011-6-15* 职位职级弹出框样式* end******/

/**********王凤龙* 2011-6-19* 邮箱弹出框样式* begin******/
.gemDiv
{
    height: 498px;
    width: 486px;
    margin: 0 auto;
    background: #fcf8e5;
}
.cemDiv
{
    height: 291px;
    width: 429px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #e5bb04;
}
.cemDivEmai
{
    height: 303px;
    width: 429px;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #e5bb04;
}

.cemDivEmai1
{
    height: 112px;
    width: 429px;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #e5bb04;
}
.cemDivEmai2
{
    height: 112px;
    width: 429px;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #e5bb04;
}

.cemDiv ul
{
    list-style: none;
}
.hemDiv
{
    position: inherit;
    font-size: 14px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #e5bb04;
}
.hemDiv .emth1
{
    width: 180px;
    border-right: 1px solid #e5bb04;
}
.hemDiv table
{
    text-align: center;
    width: 100%;
}
.emdataDiv
{
    height: 223px;
    width: 100%;
    overflow-y: scroll;
    position: inherit;
}
.emdataDivgroup
{
    height: 210px;
    width: 100%;
    overflow-y: scroll;
    position: inherit;
}
.emdataDivgroup .tablecs
{
      width: 100%;
    text-align: center;
    position:inherit;
}
.emdataDiv .tablecs
{
    width: 100%;
    text-align: center;
    position: inherit;
}
.emtd1
{
    width: 182px;
    border-right: 1px solid #e5bb04;
}

.inputemail_text
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 383px;
}
.lib_inputemail
{
    height: 23px;
    width: 413px;
    top: 5px;
    left: 6px;
    position: relative;
    border: 1px solid #9a9a9a;
}
.emailcontent
{
    width: 94%;
    height: 433px;
}
.emailcontent ul
{
    list-style: none;
}
.emailcontent .lia
{
    height: 22px;
    background: #fef5c7;
    overflow: hidden;
    border-bottom: 1px solid #f1d974;
}

.emailcontent .lia1
{
    height: 22px;
    background: #fef5c7;
    overflow: hidden;
    border-bottom: 1px solid #f1d974;
}
.onlineemail
{
    width: 168px;
    height: 21px;
    top: 9px;
    left: 208px;
    position: relative;
    clear: both;
}
.onlineInput
{
    font-size: 14px;
    text-align: left;
    width: 100%;
    position: inherit;
    height: 86px;
}
.onlneInputcs
{
    float: right;
    border: 1px solid #f1d974;
    background: #fcf8e5;
    margin-top: 10px;
    overflow-y: scroll;
    height: 73px;
    width: 352px;
}
/**********王凤龙* 2011-6-19* 邮箱弹出框样式* end******/


.sub1
{
    width: 83px;
    height: 23px;
    background: #FFF;
    border: 1px solid #999999;
    margin-right: 2px;
    cursor: pointer;
    bottom: 5px;
}
.sub2
{
    width: 83px;
    height: 23px;
    background: #FFF;
    border: 1px solid #999999;
    margin-right: 5px;
    cursor: pointer;
    bottom: 5px;
}

div1
{
    width: 190px;
    height: 180px;
    border: 1px solid #ffd600;
    float: left;
    margin-top: 12px;
}
.div1 ul
{
    list-style: none;
}
.div1 ul li
{
    height: 25px;
}
.div1 span
{
    margin-left: 4px;
    margin-top: 7px;
    position: absolute;
}
.works_8
{
    width: 300px;
    top: 25px;
    left: 250px;
    position: relative;
    overflow: hidden;
}



/**********王凤龙hrbp样式* begin 2011-7-5******/
.hrbodyDiv
{
    height: 478px;
    width: 486px;
    margin: 0px;
    background: #fcf8e5;
}

.hrcontentDiv
{
    height: 286px;
    width: 446px;
    margin-left: 18px;
    position: absolute;
    margin-top: 30px;
    top: -2px;
    left: 0px;
}
.hrtopContentDiv
{
    height: 180px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    border: 1px solid #e5bb04;
    top: -2px;
    left: 0px;
}

.hrtitleDiv
{
    height: 22px;
    width: 100%;
    background: #fef5c7;
    overflow: hidden;
    border-bottom: 1px solid #f1d974;
}
.hrtitleDiv span
{
    margin-top: 7px;
    margin-left: 4px;
    position: absolute;
}
.hrinputDiv
{
    height: 32px;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
}
/**********王凤龙hrbp样式* end 2011-7-5******/
.lia1 .hrbpspan
{
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    top: 326px;
    left: 23px;
}
