<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pkurg.PWorldBPM.Services.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Pkurg.PWorldBPM.Services.DAL.Properties.Settings.BPMConnectionString"
        connectionString="Data Source=172.25.20.47;Initial Catalog=BPM;User ID=sa;Password=Founder@2014"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--BPM主机地址-->
    <add key="BPMHostUrl" value="http://172.25.20.47:83/"/>
    <!--WrokFlow前缀地址-->
    <add key="WFPrefixUrl" value="Workflow/ViewPage/"/>
    <add key="ftpUser" value="ftproot" />
    <add key="ftpPassWord" value="ftproot" />
    <add key="ftpDir" value="ftp://172.25.20.13" />
  </appSettings>
  <applicationSettings>
    <Pkurg.PWorldBPM.Services.WinForm.Properties.Settings>
      <setting name="Pkurg_PWorldBPM_Services_WinForm_WSArchive_DbUtilService"
        serializeAs="String">
        <value>http://172.25.20.13/LamsDBConvert/services/DbUtilService</value>
      </setting>
    </Pkurg.PWorldBPM.Services.WinForm.Properties.Settings>
  </applicationSettings>
</configuration>