body{ margin:0; font-family:"Microsoft YaHei"; font-size:12px;}
ul,dl,dd,p,h1,h3{ margin:0;}
ul,ol,td{padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
input,textarea{font-family:"Microsoft YaHei"; outline:0;}

input[type=button], input[type=submit], select { -webkit-appearance: none; outline: none; }

.clearfix:after {content: " ";display: block;clear: both;height: 0;
}
.clearfix {zoom: 1;}

