<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Pkurg.PWorld.Data" type="Pkurg.PWorld.Data.Bases.NetTiersServiceSection, Pkurg.PWorld.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WebDAL" value="SQLServerDAL" />
    <add key="WebSODAL" value="SODAL" />
    <add key="UseSO" value="false" />
    <add key="Domain" value="Founder" />
    <add key="K2ServerName" value="172.25.20.47" />
    <add key="K2Password" value="Founder123" />
    <add key="K2User" value="zybpmadmin" />
    <add key="SecurityLabelName" value="K2" />
    <add key="MyDraft" value="B3141E3C-88D1-444E-AFEE-9812AB1A6DA7" />
    <add key="MyWorklist" value="09F84D1F-69D5-41A4-AEEA-37082E0D4A5C" />
    <add key="MyStarted" value="9A43FD43-5D8F-4D00-A619-44D76CB6F335" />
    <add key="MyJoined" value="9A9D4A2E-2971-43B2-8A21-BE0633A76C65" />
    <add key="MyDelegation" value="621C4C1D-6CED-456E-96E0-4A25F46BA065" />
    <add key="DefaultApprover" value="Founder\zybpmadmin" />
    <add key="K2HostPort" value="5252" />
    <add key="K2ServerPort" value="5555" />
    <add key="DomainName" value="Founder" />
    <add key="K2ServerDomain" value="Founder" />
    <add key="K2ServiceUser" value="zybpmadmin" />
    <add key="K2ServicePwd" value="Founder123" />
    <add key="NoFilter" value="Main.aspx,Login.aspx,LoginConfirm.aspx" />
    <add key="K2EmployeeCheckCountry" value="15" />
    <add key="K2EmployeeCheckCountryOne" value="15" />
    <!--测试环境=1，正式环境=0-->
    <add key="IsDebug" value="1"/>
    <!--LoginUsers哪些人可以模拟用户-->
    <add key="LoginUsers" value="xupc,yanghechun,wangxiucheng,yinlining,zhangweixing,guolingyun,xiuhaotian,chenliye"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=K2Framework;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
    <add name="WorkSpaceConnectionString" connectionString="Data Source=.;Initial Catalog=K2Framework;Persist Security Info=True;User ID=k2sa;Password=K2pass!" providerName="System.Data.SqlClient" />
    <add name="PWorldConnectionString" connectionString="Data Source=172.25.20.47;Initial Catalog=PWorld; Max Pool Size=150;Connect Timeout=500; Persist Security Info=True;User ID=sa;Password=Founder@2014" />
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=K2Framework;Persist Security Info=True;User ID=k2sa;Password=K2pass!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Pkurg.PWorld.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add name="SqlNetTiersProvider" type="Pkurg.PWorld.Data.SqlClient.SqlNetTiersProvider, Pkurg.PWorld.Data.SqlClient" connectionStringName="PWorldConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Pkurg.PWorld.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>

    </providers>
  </Pkurg.PWorld.Data>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxGridView.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxEditors.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
       
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dx" assembly="DevExpress.Web.ASPxGridView.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView" />
        <add tagPrefix="dx" assembly="DevExpress.Web.ASPxEditors.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxEditors" />
        <add tagPrefix="dx" assembly="DevExpress.Web.ASPxGridView.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView" />
        <add tagPrefix="dx" assembly="DevExpress.Web.ASPxEditors.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxEditors" />
        <add tagPrefix="dx" assembly="DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxHiddenField" />
        <add tagPrefix="dx" assembly="DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxSplitter" />

        <add tagPrefix="dx" assembly="DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxClasses" />
        <add tagPrefix="dx" assembly="DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxNavBar" />

       
        <add tagPrefix="dx" assembly="DevExpress.Web.ASPxHtmlEditor.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxHtmlEditor" />
      </controls>
    </pages>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>