<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pkurg.PWorldBPM.Business.Properties.Settings.BPMConnectionString"
            connectionString="Data Source=172.25.20.47;Initial Catalog=BPM;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Pkurg.PWorldBPM.Business.Properties.Settings.BPMConnectionString1"
            connectionString="Data Source=172.25.20.47;Initial Catalog=BPM;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Pkurg.PWorldBPM.Business.Properties.Settings.BPMConnectionString2"
            connectionString="Data Source=172.25.20.47;Initial Catalog=BPM;Persist Security Info=True;User ID=sa;Password=Founder@2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <!--<applicationSettings>
        <Pkurg.PWorld.Business.Properties.Settings>
            <setting name="Pcitc_ESSP_Business_WorkflowService_WorkflowRuntimeService"
                serializeAs="String">
                <value>http://10.5.9.69:90/wf/workflowruntimeservice.asmx</value>
            </setting>
        </Pkurg.PWorld.Business.Properties.Settings>
    </applicationSettings>-->
</configuration>