<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pkurg.PWorldBPM.Services.DAL.Properties.Settings.BPMConnectionString"
            connectionString="Data Source=172.25.20.47;Initial Catalog=BPM;User ID=sa;Password=Founder@2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>