<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Pkurg.PWorld.Data" type="Pkurg.PWorld.Data.Bases.NetTiersServiceSection, Pkurg.PWorld.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="Pkurg.BPM.Data" type="Pkurg.BPM.Data.Bases.NetTiersServiceSection, Pkurg.BPM.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<!--Add by QQC-->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="Service">
				<endpoint address="" binding="wsHttpBinding" contract="IService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client/>
	</system.serviceModel>
	<connectionStrings>
		<!--流程门户-->
		<add name="Center" connectionString="Data Source=172.25.1.78;Initial Catalog=FounderOAResourceGroup;Persist Security Info=True;User ID=AdminForResourceGroup;Password=123@123"/>
		<add name="ESSPConnectionString" connectionString="Data Source=172.25.20.47;Initial Catalog=PWorld; Max Pool Size=150;Connect Timeout=500; Persist Security Info=True;User ID=sa;Password=Founder@2014"/>
		<!--<add name="BPMConnectionString" connectionString="Data Source=172.25.20.54;Initial Catalog=BPM;Persist Security Info=True;User ID=sa;Password=Fpkurg.123; Max Pool Size=150;Connect Timeout=500"/>-->
		<add name="BPMConnectionString" connectionString="Data Source=172.25.20.47;Initial Catalog=BPM;Persist Security Info=True;User ID=sa;Password=Founder@2014; Max Pool Size=150;Connect Timeout=500"/>
		<add name="Erp2OaConnectionString" connectionString="Data Source=172.25.20.15;Initial Catalog=erptooa;Persist Security Info=True;User ID=adminforehr;Password=Founder@2012; Max Pool Size=150;Connect Timeout=500"/>
	</connectionStrings>
	<appSettings>
		<add key="OAURL" value="http://172.25.3.21"/>
		<add key="K2ServerDomain" value="Founder"/>
		<add key="K2User" value="zybpmadmin"/>
		<add key="K2Password" value="Founder123"/>
		<add key="K2SecurityLabelName" value="K2"/>
		<add key="K2ServerName" value="172.25.20.47"/>
		<add key="SecurityLabelName" value="K2"/>
		<add key="DefaultApprover" value="Founder\zybpmadmin"/>
		<add key="K2HostPort" value="5252"/>
		<add key="K2ServerPort" value="5555"/>
		<add key="DomainName" value="Founder"/>
		<add key="K2ServiceUser" value="zybpmadmin"/>
		<add key="K2ServicePwd" value="Founder123"/>
		<add key="StartProcInstPageUrl" value="/Workflow/EditPage/Start.aspx"/>
		<add key="ViewProcInstPageUrl" value="/Workflow/ViewPage/Approval.aspx"/>
		<add key="ApprovalPageUrl" value="/Workflow/EditPage/E_InstructionApprove.aspx"/>
		<add key="ApprovalPageUrl_Add" value="/Workflow/EditPage/E_InstructionApprove_Add.aspx"/>
		<add key="StartPageUrl" value="/Workflow/EditPage/E_InstructionOfPKURG.aspx"/>
		<add key="ServerUrl" value="http://localhost:88"/>
		<add key="ftpUser" value="ftproot"/>
		<add key="ftpPassWord" value="ftproot"/>
		<add key="ftpDir" value="ftp://172.25.20.13"/>
		<add key="ArchiveFolder" value="C:\BPM\Pkurg.PWorldBPM.Web\UploadFile\archive"/>
		<!--配置的部门编号-->
		<!--投资公司编码-->
		<add key="PKURGICode" value="S363-S973"/>
		<!--集团采购管理部编码-->
		<add key="CGDeptCode" value="S363-S973-S541"/>
		<!--集团法务部编码-->
		<add key="FWDeptCode" value="S363-S973-S496"/>
		<!--集团商业地产管理部编码-->
		<add key="SYDCDeptCode" value="S363-S973-S542"/>
		<!--集团财务管理部编码-->
		<add key="CWDeptCode" value="S363-S973-S495"/>
		<!--集团研发设计部编码-->
		<add key="YFSJDeptCode" value="S363-S973-S539"/>
		<!--集团项目运营部编码-->
		<add key="XMYYDeptCode" value="S363-S973-S525"/>
		<!--集团办公室编码-->
		<add key="JTBDeptCode" value="S363-S973-S550"/>
		<!--资源集团编码-->
		<add key="GroupCode" value="S363-S969"/>
		<!--资源集团办公室编码-->
		<add key="GroupGMDCode" value="S363-S969-S550"/>
		<!--免税店编码-->
		<add key="DutyFreeShopCode" value="S370"/>
		<!--免税店管理部编码-->
		<add key="DutyFreeDeptCode" value="S363-S969-S543"/>
		<!--集团法务部编码-->
		<add key="GroupLawDeptCode" value="S363-S969-S496"/>
		<!--测试环境=1，正式环境=0-->
		<add key="IsDebug" value="1"/>
		<!--MappingUsers哪些人可以映射用户-->
		<add key="MappingUsers" value="xupc,yanghechun"/>
		<!--LoginUsers哪些人可以模拟用户-->
		<add key="LoginUsers" value="xupc,yanghechun,wangxiucheng,yinlining,zhangweixing,guolingyun,xiuhaotian,chenliye"/>
		<!--流程门户-->
		<add key="SuperAdmin" value="admin;administrator;founder\liu.gang;founder\mossadmin;founder\xupc;founder\wangxiucheng"/>
		<!--集采系统WebService-->
		<add key="JCWebService" value="http://172.25.20.19:7000/WebService/Order.asmx"/>
		<!--ERP付款申请流程结束调用的WebService-->
		<add key="FD_ERP_FK_WS" value="http://172.25.20.47:9999/ERP_PaymentApplication.asmx"/>
		<!--ERP请示单流程结束调用的WebService-->
		<add key="FD_ERP_QS_WS" value="http://172.25.20.47:9999/ERP_Instruction.asmx"/>
		<!--erp待办链接-->
		<add key="ERP2OA1" value="http://fgssosrv.jtcorp.founder.com/Test3DES/Default.aspx?ebs_inst_id=4"/>
		<add key="ERP2OA2" value="http://fgssosrv.jtcorp.founder.com/Test3DES/Default.aspx?ebs_inst_id=2"/>
		<!--移动OA-->
		<add key="App_DefaultPageSize" value="4"/>
		<add key="MobileTag" value="mobile"/>
	</appSettings>
	<Pkurg.PWorld.Data defaultProvider="SqlNetTiersProvider">
		<providers>
			<add name="SqlNetTiersProvider" type="Pkurg.PWorld.Data.SqlClient.SqlNetTiersProvider, Pkurg.PWorld.Data.SqlClient" connectionStringName="EsspConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Pkurg.PWorld.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
		</providers>
	</Pkurg.PWorld.Data>
	<Pkurg.BPM.Data defaultProvider="SqlNetTiersProvider">
		<providers>
			<add name="SqlNetTiersProvider" type="Pkurg.BPM.Data.SqlClient.SqlNetTiersProvider, Pkurg.BPM.Data.SqlClient" connectionStringName="BPMConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Pkurg.BPM.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
		</providers>
	</Pkurg.BPM.Data>
	<system.web>
		<sessionState timeout="360"/>
		<httpRuntime requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true" maxRequestLength="1024000" executionTimeout="900"/>
		<!--<httpRuntime   maxRequestLength="4096"   executionTimeout="60000" />-->
		<customErrors mode="Off" defaultRedirect="/Error/General.aspx">
		</customErrors>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<!-- 系统控件 -->
				<add tagPrefix="pager" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SourceCode.Workflow.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=16A2C5AAAA1B130D"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="SourceCode.Workflow.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=16A2C5AAAA1B130D"/>
				<add assembly="SourceCode.HostClientAPI, Version=4.0.0.0, Culture=neutral, PublicKeyToken=16A2C5AAAA1B130D"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--<siteMap enabled="true" defaultProvider="XmlSiteMapProvider">
            <providers>
                <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="~/Web.sitemap"/>
            </providers>
        </siteMap>-->
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			<add path="scissors.axd" verb="*" type="Pkurg.PWorld.Business.HttpHandler.BitmapScissors, Pkurg.PWorld.Business" validate="false"/>
		</httpHandlers>

		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
		<!--站点地图 add by yanghechun 2014-09-02-->
		<siteMap enabled="true">
			<providers>
				<add name="Web" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers accessPolicy="Read, Execute, Script">
			<remove name="CGI-exe"/>
			<add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\wkhtmltopdf\wkhtmltopdf.exe" resourceType="File" requireAccess="Execute"/>
			<add name="ajaxpro" verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
		</handlers>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=EmulateIE7"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
		<sources>
			<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
</configuration>
